<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:web="http://xmlns.jcp.org/xml/ns/javaee">
  <display-name>ads-xafra</display-name>
  <servlet>
    <servlet-name>servlet-ads</servlet-name>
    <servlet-class>com.develop.job.ads.servlet.Ads</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet-ads</servlet-name>
    <url-pattern>/ads-api</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>